@font-face {
    font-family: g;
    src: url("font/Joyfully-Regular.ttf") format("opentype");
}

@font-face {
    font-family: tw;
    src: url("tw2.ttf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@media only screen and (min-width: 1000px){
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 1fr 6fr; */
    grid-template-rows: 30vh 70vh;
    margin: 0;
    padding: 0;

  }

body{
    width: 100vw;
    height: 100vh;  
    margin: 0;
    padding: 0;
    min-width:1000px;
    /* font-family: tw; */
    display: flex;
    justify-content: center;
    background-color: #F8F0E3;
    background-image: url("img2.png");
    object-fit: none;
    background-size: 1450px 900px;

    font-size: 3vw;
    font-family: tw;

    overflow: hidden; 
    text-overflow: clip;

}


.heading {
    position: absolute;

    color:beige;
 
    display: block;
    width: max-content;
    height: 20vh;
    text-align: center;
    position: relative;
    bottom: -6vh;
    left: 2vw;
    
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

}

.heading img{
    height: 20vh;
}

.grid-item3
{
    text-align:right;
    font-family: tw;
    color: #5C4033;
    
    
}


#cup
{
  position: absolute;
  width: 15vw;
  left: 33vw;
  top: 28vh;
}

.grid-item3 img{
    position: relative;
    top: -10vh;
    right: -4vw; 
    width: 25vw;
    cursor: url('https://api.iconify.design/bi/vector-pen.svg'), auto;
 
}
.h {
    font-size: 3vw;
     position: absolute;
    top: 3.5vh;
    left: 5vw;
    width: max-content;
    height: max-content;
}

.about-text:hover{
    text-shadow: 1px 1px 1px #000;

}
.about-text{
    position: absolute;
    right: 1vw;
    top: 6vh;
    font-size: 30px;
}

.about-text-2
{
    padding: 20px;
    font-family:tw;
    
    position: absolute;
    right: -1vw;
    top: 10vh;
    font-size: 1.3vw;
    max-width: 13vw;
    width: max-content;
    display: none;
    margin: 1vh;
}

.links {
    font-family: tw;
    font-size: 2vw;
    position: relative;
    left: 1vw;
    top: -1vh;
    
    
    color: #5C4033;
}

.links img{
    
    position: relative;
    top: 2vh;
    left: -1vw;
    
    width: 50vw;

}
.link {
    font-size: 30px;
    font-family: tw;
    position: relative;
    top: -45vh;
    left: 4vw;
    margin: 0 2vh;
    max-width: 35vw ;
    
}
.link div{
    margin: 3vh 0;
}

#link1::after {
    
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  #link1:hover{
    text-shadow: 1px 1px 1px #000;
  }

  #link2::after {
    
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }

  #link2:hover{
    text-shadow: 1px 1px 1px #000;
  }

  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  #link3::after {
    
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }

  #link3:hover{
    text-shadow: 1px 1px 1px #000;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  

}

  @media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    @font-face {
      font-family: tw;
      src: url("tw2.ttf") format("opentype");
  }
    html, body {
      overflow-x: hidden;
    }
     body
     {
       width: 100%;
       height: 100%;
       /* overflow: hidden; */
       font-size: 50px;
       display: flex;
       font-size: tw;
       flex-direction: column;
       justify-content: center;
       font-size: 20px;
       background-image: url("img2.png");
     }
    .grid-container{
      display: flex;
      flex-direction: column;
      
    }

    img{
      display: none;
    }
    .heading{
      all : none;
      width: 50vw;
      position: absolute;
      top:0; 
      left: 30vw;
      font-size: 40px;
      text-align: center;
      font-family: tw;
      color: #5C4033;
      
    }
    .h{
      all:none;
      position: absolute;
      left: vw;
      top: 0vh;
      font-size: 25px;
      background-color: blanchedalmond;
      
    }

    .grid-item3{
      position:absolute;
      display: block;
      top:16vh;
    }

    .link{
      font-size: 20px;
      position:absolute;
       top: 80vh;
      left: 10vw;
      font-family: tw;
      background-color: blanchedalmond;
      width: max-content;

    }
/* 
    .about-text-2
    {
      display: block;
      position: absolute;
      left: 25vw;
      top: 5vh;
      width: 60vw;
      font-family: tw;
    
     
    }

     */

     .about-text-2{
      position: relative;
      font-family: tw;
      top:8px;
  
    }

    .notepad {
      width: 80%;
      max-width: 600px;
      box-shadow: 10px 10px 40px rgba(black, .15);
      border-radius: 0 0 10px 10px;
      overflow: hidden;
      color: black;
    }
  
    
    #paper {
      text-align: center;
        position: relative;
        left: 15vw;
        top: 20vh;
      width: 65vw;
      height: max-content;
      min-height: 60vh;
      padding: 35px 20px;
      background: repeating-linear-gradient(#F1EDE9, #F1EDE9 31px, #5C4033 31px, #5C4033 32px);
      font-family: tw;
      line-height: 31px;
      outline: 0;
      font-size: 21px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(48, 26, 26, 0.23) 0px 6px 6px;
      overflow: scroll;
    }
  
  
  }
 
  